div .info{
    margin-left: 44px;
    margin-top: -26px;   
    color: #6f5d5d
}

div .bi{
    font-size : 30px;
}

div .time-comment{
    margin-left: 96px;
    margin-top: -40px;
    font-style: italic;
    opacity: 0.5;
}